<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome! {% endblock %} | AskMate - BS Code</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    {%  if page_title != 'Login' and page_title != 'Registration' %}
        <div class="header">
            <input type="button" value="Show users" id="users" onclick="window.location.href='/list-users/'"/>
            <input type="button" value="Login" onclick="window.location.href='/login'"/>
            <input type="button" value="Registration" onclick="window.location.href='/registration'"/>
        </div>
    {%  endif %}
    <a href="/"><h1>AskMate</h1></a>
    {% block content %}{% endblock %}
</body>

</html>