{% extends 'layout.html' %}

{% block title %}
    List questions
{% endblock %}

{% block content %}
    <h2>Questions</h2>
    <br>
    <a id="ask" href="/add-question">Ask a question</a>
    <br><br>
    <hr>
        {% for question in questions %}
            <p>
                <a class="question" href="/question/counted/{{ question.id }}">{{ question.title }}</a>
            <p>{{ question.submission_time }} Votes: {{ question.vote_number }} Views: {{ question.view_number }}</p>
            </p>
                <details>

                <summary>Show Answers</summary>

                    {% for answer in answers %}
                        {% if question.id == answer.question_id %}
                            <p class="answer">{{answer.message}}</p>
                        {% endif %}
                    {% endfor %}

            </details>
            <hr>
        {% endfor %}

    <form action="/" method="GET">
        <label for="sort"> Sort Questions by:</label>
        <select id="sort" name="sort_by">
            {% for i in range(4) %}
                <option {%  if sort_by == sort_options[i] %}selected{% endif %}
                        value={{ sort_options[i] }}>{{ sort_titles[i] }}</option>
            {% endfor %}
        </select>

        <label for="direction">Order</label>
        <select id="direction" name="direction">
            {% for j in range(2) %}
                <option {% if reverse_options[j] == direction %}selected{% endif %}
                        value="{{ reverse_options[j] }}">{{ directions[j] }}</option>
            {% endfor %}

        </select>
        <p>
            <button type="submit">Sort it!</button>
        </p>
    </form>
{% endblock %}