{% extends 'layout.html' %}

{% block title %}
    List questions
{% endblock %}

{% block content %}
    <h2>Questions</h2>
    <input type="button" value="Ask a question" onclick="window.location.href='/add-question'"/>
    <br><br>
        <form action={{ form_action }} method="GET">
        <label for="sort"> Sort Questions by:</label>
        <select id="sort" name="sort_by">
            {% for value in range(order_by) %}
                <option {%  if sort_by == sort_options[value] %}selected{% endif %}
                        value={{ sort_options[value] }}>{{ sort_titles[value] }}</option>
            {% endfor %}
        </select>
        <label for="direction">Order</label>
        <select id="direction" name="direction">
            {% for value in range(order) %}
                <option {% if reverse_options[value] == direction %}selected{% endif %}
                        value="{{ reverse_options[value] }}">{{ directions[value] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Sort it!</button>
        <div class="inline">
            <input type="button" value="{{ button_text }}" onclick="window.location.href='{{ button_action }}'"/>
        </div>
    </form>
    <hr>
        {% for question in questions %}
            <p>
                <a class="question" href="/question/counted/{{ question.id }}">{{ question.title }}</a>
                <p>{{ question.submission_time.strftime("%Y-%m-%d %H:%M") }} Votes: {{ question.vote_number }} Views: {{ question.view_number }}</p>
            </p>
                <details>

                    <summary>Show Answers</summary>

                    {% for answer in answers %}
                        {% if question.id == answer.question_id %}
                            <p class="answer">{{answer.message}}</p>
                        {% endif %}
                    {% endfor %}

            </details>
            <hr>
        {% endfor %}
{% endblock %}