{% extends 'layout.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <h2>{{ page_title }}</h2>
    <br>
    <div class="box">
        <form action="{{ action }}" method="post" >

            <label for="username">Username:</label>
            <input type="text" name="username" minlength="5"><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" minlength="7"><br><br>
            <button type="submit">{{ button_text }}</button>
        </form>
    </div>
{% endblock %}