{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

    <div>
        <h1 style="display: inline-flex">{{ question.title }}
            <form action="/question/{{question.id}}/delete" method="post">
                <button type="submit" name="delete">Delete Question</button>
            </form>
            <form>
                <input type="button" value="Edit question" onclick="window.location.href='/question/{{ question.id }}/edit'"/>
            </form>

        </h1>
    </div>
    <div style="display: inline-flex">
        <p>Submission time: {{ question.submission_time }} Views: {{ question.view_number }} Votes: {{ question.vote_number }}&ensp;</p>
        <p>
            <a href="/vote/question/{{ question.id }}/up/None"><img src="/static/icons/arrow_up.png" width="20" height="20" alt=""></a>
            <a href="/vote/question/{{ question.id }}/down/None"><img src="/static/icons/arrow_down.png" width="20" height="20" alt=""></a>
        </p>
    </div>
    <p style="white-space: pre-line">{{ question.message.replace('<br>', '\n') }}</p>
    {% if question.image %}
        <p><img src="/static/images/{{ question.image }}"></p>
    {% endif %}

    <div>
        {% for answer in answers %}
        <div>Submission time: {{ answer.submission_time }} Votes: {{ answer.vote_number }}
            <a href="/vote/answer/{{ question.id }}/up/{{ answer.id }}"><img src="/static/icons/arrow_up.png" width="20" height="20" alt=""></a>
            <a href="/vote/answer/{{ question.id }}/down/{{ answer.id }}"><img src="/static/icons/arrow_down.png" width="20" height="20" alt=""></a>

            <form style="display: inline-block" action="/answer/{{answer.id}}/delete" method="post">
                <button type="submit" name="delete_answer">Delete Answer</button>
            </form>
        </div>
        <p style="white-space: pre-line">{{ answer.message.replace('<br>', '\n') }}</p>
        {% if answer.image %}
            <p><img src="/static/images/{{ answer.image }}"></p>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <form action="{{ form_url }}" method="post" enctype="multipart/form-data">
        <p>
            <label for="message">Add new answer</label><br>
            <textarea id="message" name="message" required cols="80" rows="10"></textarea>
        </p>
        <p>
            <label for="image">Upload picture</label>
            <input id="image" name="image" type="file" accept="image/png, image/jpeg">
        </p>

        <button type="submit">{{ button_title }}</button>

        </form>
    </div>

    <p><a href="/">Back to Questions</a></p>

{% endblock %}