{% extends "layout.html" %}

{% block title %}Q&A{% endblock %}

{% block content %}

    <h1>{{ question.title }}</h1>
        <p>Submission time: {{ question.submission_time }} Views: {{ question.view_number }} Votes: {{ question.vote_number }}</p>
        <p style="white-space: pre-line">{{ question.message.replace('<br>', '\n') }}</p>
        <p><img src="/{{ question.image }}"></p>

    {% for answer in answers %}
        <p>Submission time: {{ answer.submission_time }} Votes: {{ answer.vote_number }}</p>
        <p style="white-space: pre-line">{{ answer.message.replace('<br>', '\n') }}</p>
        <p><img src="/{{ answer.image }}"></p>
    {% endfor %}

    <form action="/question/{{ question.id }}/new-answer" method="post">
        <p>
            <label for="message">Add new answer</label><br>
            <textarea id="message" name="message"></textarea>
        </p>
        <button type="submit">Save answer</button>
    </form>

{% endblock %}