{% extends "layout.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

    <h1>{{ question.title }}</h1>
        <p>Submission time: {{ question.submission_time }} Views: {{ question.view_number }} Votes: {{ question.vote_number }}</p>
        <p style="white-space: pre-line">{{ question.message.replace('<br>', '\n') }}</p>
        <p><img src="/static/{{ question.image }}"></p>

    {% for answer in answers %}
        <p>Submission time: {{ answer.submission_time }} Votes: {{ answer.vote_number }}</p>
        <p style="white-space: pre-line">{{ answer.message.replace('<br>', '\n') }}</p>
        <p><img src="/static/{{ answer.image }}"></p>
    {% endfor %}

    <form action={{ form_url }} method="post">
        <p>
            <label for="message">Add new answer</label><br>
            <textarea id="message" name="message"></textarea>
        </p>
        <button type="submit">{{ button_title }}</button>
    </form>

    <p><a href="/">Back to Questions</a></p>

{% endblock %}